.email-address{
    font-size: 0.6em;
}

.no-margin{
    margin: 0;
}

@media (max-width: 767px) {
    .icon-quote {
        display: none;
    }
}

.icon-quote{
    top: 37%;
}

.quote{
    top: 50%;
    left: 50%;
}

.vertical-transform{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.centered-content{
    text-align: center;
}

.centered-content a {
    padding-right: 10px;
}